<footer>
    @if (!string.IsNullOrEmpty(@Model.Metadata.Copyright))
    {
        <div class="container">
            <div class="col-lg-12">
                <p class="text-center">@Model.Metadata.Copyright</p>
            </div>
        </div>
    }
</footer>
