@if (Model != null)
{
    <div class="text-center">
        @if (Model == true)
        {
            <span class="glyphicon glyphicon glyphicon-ok"></span>
        }
        else
        {
            <span class="glyphicon glyphicon glyphicon-remove"></span>
        }
    </div>
}