@if (Model != null && Model.Count > 0)
{
    <table class="table table-bordered table-hover ">

        <thead>
            <tr>
                <th>Location</th>
                <th>Name</th>
            </tr>
        </thead>

        <tbody>

            @foreach (var value in Model)
            {
                <tr>
                    <td>@value.Location</td>
                    <td>@value.Name</td>
                </tr>
            }
        </tbody>

    </table>
}